$primaryColor : #40e693;
$HeadingColor : #100C2E;
$logoColor : #fff;
$menuColor : #fff;
$cardColor : #f2fffa;
$activeColor :#05361d ;
$hoverColor : #c4ffd9;
$secondaryFont : #1D976C;


//preloader

@import  url(https://fonts.googleapis.com/css?family=Montserrat);


$width: 15px;
$height: 15px;


$bounce_height: 30px;


.preLoader{
  width:100%;
  height:850px;
  background-color:#fff;
  position:fixed;
  z-index:1001;
}

.preNone{
  display:none;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: $primaryColor;
  display: inline-block;
  margin-left: 25px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: $primaryColor;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

//navbar part

.NavbarMain{
  width:100%;
  height:60px;
  background-color:$primaryColor;
  position:fixed;
  z-index:1001;
  
  .navHead{
    width:100%;
    display:flex;
    
    .navHeadLogo{
      width:100%;
    }
    .navHeadMenu{
      width:20%;
      display:none;
    }
  }
  
  h2{
    font-size:28px;
    padding:10px;
    color:$logoColor;
  }
  
  .NavContainer{
    width:90%;
    margin:0px auto;
    
    .NavList{
       width:100%;
      margin-top:17px;
      
      .NavListMenu{
        list-style:none;
        display:inline;
        float:right;
        
        li{
          padding:5px 10px;
          display:inline;
          
          a{
            text-decoration:none;
            color:$menuColor;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
          }

          .activeMenu{
            color : $activeColor;
          }
        }
      }
    }
  }
}


//footer part

footer{
  width:100%;
  height:50px;
  background-color:$primaryColor;
  color:$menuColor;
  
  .footer_container{
    width:90%;
    margin:10px auto;
  
    .copyCont{
      font-size:12px;
      text-align:center;
      padding-top:10px;
      letter-spacing:2px;
    }
  }
}

//content part

.contMain{
  width:100%;
  margin:0px;
  min-height:700px;
  
  .homeListContainer{
    width:90%;
    margin:0px auto;
    padding:80px 0px 20px 0px;

    .card_col{
      height:auto;
      padding:0px 4px;
      margin:10px 0px;

      .card_home{
        width:98%;
        height:100%;
        border-radius:10px;
        overflow:hidden;
        background-color:$cardColor;
        padding:0px;
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

        a{
          text-decoration:none;
          color:$HeadingColor;
        }

        h4{
          padding:10px;
          height:auto;
          color:$HeadingColor;
        }
        
        p{
          color:$secondaryFont;
          padding:15px 10px;
        }

        .byAuth{
          padding:10px;
          color:$activeColor;
          font-size:14px;
        }
      }

      .card_home:hover{
        background-color:$hoverColor;
      }
    }

    //book design

    .bookCard{
      margin:15px 0px;

      a{
        text-decoration:none;
        color:$HeadingColor;
      }

      .bookDisplay{
        width:99%;
        height:100%;
        border-radius:10px;
        overflow:hidden;
        background-color:$cardColor;
        padding:0px 0px 10px 0px;
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

        h4{
          padding:10px 10px 0px 10px;
          font-size:18px;
          letter-spacing:1px;
          text-transform: capitalize;
          color:$activeColor;
          margin:0px;
        }

        .publish{
          padding:0px 10px;
          color:$primaryColor;
        }

        .bookDesc{
          padding:10px;
          text-indent:15px;
          text-align:justify;
          font-size:14px;
          letter-spacing:1px;
        }
      }
    }
  }
}


//page view


.blogContent{
  padding:0px 0px;    
  display: flex;
  flex-wrap: wrap;

h1{
  padding:10px 0px 20px 0px;
  font-family: 'Playfair Display', serif;
  color:#151F2D;
  font-weight:800;
}
  
  .preheading p{
    color:$secondaryFont;
    font-weight:200;
  }
  
p{
  padding:5px 0px;
  color:#4d4752;
  text-align:justify;
  letter-spacing: 1px;
  line-height: 30px;
  font-size:18px;
  font-family: 'Crimson Text', serif;
  margin:0px;
}

  .paraMainCont{
    margin-top:15px;
    text-indent:30px;
  }
  
  .paraSubCont{
    margin:5px 0px;
    text-indent:0px;
  }

.byAuth{
  font-size: 14px;
  font-weight: 400;
  color:#afa7b5;
  padding: 15px 0px 20px 0px;
    small{
    font-size: 14px;
    font-weight: 400;
    float:right;
  }
}
}

//Recent side design

.recent{
  
  .recent_part{
    width:90%;
    float:right;
    margin-right:0px;
    margin-left:auto;
    
    h4{
      font-size:14px;
      color:$primaryColor;
      letter-spacing:2px;
    }
    
    .card_recent{
      width:100%;
      height:auto;
      padding:12px 0px;
      border-radius:5px;
      border-bottom:4px solid $primaryColor;
      margin-bottom:20px;
      
      a{
        text-decoration:none;
        color:$primaryColor;
        
        h5{
          font-size:18px;
          color:$primaryColor;
          padding:10px;
        }
      }
    }
    
    .card_recent:hover{
      background-color:$hoverColor;
    }
  }
}


//Media 1020px

//media 980px

@media screen and (max-width: 980px){
  .NavbarMain{
  
  h2{
    font-size:22px;
    padding:10px;
    color:$logoColor;
  }
  
  .NavContainer{
    width:90%;
    margin:0px auto;
    
    .NavList{
       width:100%;
      margin-top:17px;
      
      .NavListMenu{
        display:none;
        }
      }
    }
  }
  
  .navHead{
    width:100%;
    display:flex;
    
    .navHeadLogo{
      width:100%;
    }
    .navHeadMenu{
      width:20%;
      display:block;
      
      i{
        font-size:20px;
        color:$primaryColor;
      }
    }
  }
}

//media 680px

@media screen and (max-width: 680px){
  .NavbarMain{
  
    h2{
      font-size:22px;
      padding:10px;
      color:$logoColor;
    }

    .NavContainer{
      width:90%;
      margin:0px auto;

      .NavList{
         width:100%;
        margin-top:17px;

        .NavListMenu{
          display:none;
          }
        }
      }
    }
}
